
.reveal {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #333333;
  background: #ffffff;
}
.reveal h1 {
  font-size: 2.2rem;
}
.reveal h2 {
  font-size: 1.9rem;
}
.reveal h3 {
  font-size: 1.6rem;
}
.reveal pre code {
  background: #f5f5f5;
  border: 1px solid #dddddd;
  padding: 5px;
  border-radius: 4px;
  font-size: 10px;
}
.reveal table {
  font-size: 20px;
  border-collapse: collapse;
  border: 1px solid #cccccc;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.reveal table th {
  background-color: #f5f5f5;
  font-weight: bold;
  padding: 12px 16px;            
  border: 1px solid #cccccc;
  text-align: center;
}

.reveal table caption {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
  color: #222222;
  text-align: center;
}

.reveal table td {
  padding: 10px 16px;
  border: 1px solid #cccccc;
  text-align: center;
}
 
pre.sourceCode {
  background: #f5f5f5;
  font-family: 'Courier New', monospace;
  font-size: 15px;
  max-height: 170px;
  overflow-y: auto;
  overflow-x: auto;
  word-break: break-word;
  white-space: pre-wrap;

}
.reveal pre {
  overflow-x: hidden !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
  max-height: none !important;
}
.reveal p, .reveal ul, .reveal ol {
  margin-bottom: 20px;
}
.reveal h1, .reveal h2, .reveal h3 {
  margin-bottom: 25px;
}
